<h1>Shipment Application</h1>

<form #form="ngForm" >
 <table width="100%">   
     <tr><td width="50%">
<br />Sender name:<br /> <input  ngModel name = "sendername" type="text">
<br />Sender email:<br /> <input ngModel name = "senderemail" type="text">
<br />Sender phone:<br /> <input ngModel name = "senderphone" type="text">
<br />Sender address:<br /> <input ngModel name = "senderadress" type="text">
<br />Sender locality:<br /> <input ngModel name = senderlocality type="text">
<br />Sender postal code:<br /> <input ngModel name = "senderpostalcode" type="text">
<br />Sender country:<br /> <input ngModel name = "sendercountry" type="text" placeholder ="FR" value="FR">
<br />Receiver name:<br /> <input ngModel name = "receivername" type="text">
<br />Receiver email:<br /> <input ngModel name = "receiveremail" type="text">
</td>
<td width="50%">
<br />Receiver phone:<br /> <input ngModel name = "receiverphone" type="text">
<br />Receiver address:<br /> <input ngModel name = "receiveradress" type="text">
<br />Receiver locality:<br /> <input ngModel name = "receiverlocality" type="text">
<br />Receiver postal code:<br /> <input ngModel name = "receiverpostalcode" type="text">
<br />Receiver country:<br /> <input ngModel name = "receivercountry" type="text" placeholder="FR" value="FR">
<br />Package length:<br /> <input ngModel name = "receiverlength" type="text">
<br />Package width:<br /> <input ngModel name = "receiverwidth" type="text">
<br />Package height:<br /> <input ngModel name = "receiverheight" type="text">
<br />Package weight:<br /> <input ngModel name = "weight" type="text">
</td>
</tr>
  <tr><td width="50%" align="right">
<button type="submit" (click)="getQuote(form.value)">Get quote</button></td>
<td width="50%" align="left"> <button [disabled]="hidecreateship" type="button" (click)="createShipment(form.value)">Create Shipment</button>
</td></tr>
 </table>
 <div *ngIf="checktextNotification; then showprice else showerror"></div>
<ng-template #showprice>
        <h3><font color="green">So tien la: {{giatien}} $</font></h3>
       
    </ng-template>
<ng-template #showerror>
    <h3><font color="red">{{textNotification}}</font></h3>
</ng-template>

<h3><font color="green">{{ref}}</font></h3>    

  
Ref Shipment: <br /><input [disabled]="hidegetshipment"  ngModel name ="trackref" type="text">

<table width="100%">
    <tr><td align="right"><button [disabled]="hidegetshipment" (click)="getShip(form.value,giatien)">Get Shipment</button></td>
   <td align="left"><button [disabled]="hidegetshipment" (click)="deleteShip(form.value)">Delete Shipment</button></td></tr>
</table>
<br />
<div *ngIf="hidetextgetshipment; then hide else show"></div>
<ng-template #show>
                  
               - Created at: {{datagetship.createdat}}
            <br />- Price: {{datagetship.cost}}
            <br />- Sender name: {{datagetship.sendername}}
            <br />- Sender email: {{datagetship.senderemail}}
            <br />- Sender phone: {{datagetship.senderphone}}
            <br />- Sender address: {{datagetship.senderadress}}
            <br />- Sender locality: {{datagetship.senderlocality}}
            <br />- Sender postal code: {{datagetship.senderpostalcode}}
            <br />- Sender country: {{datagetship.sendercountry}}
            <br />- Receiver name: {{datagetship.receivername}}
            <br />- Receiver email: {{datagetship.receiveremail}}
            <br />- Receiver phone: {{datagetship.receiverphone}}
            <br />- Receiver adress: {{datagetship.receiveradress}}
            <br />- Receiver locality: {{datagetship.receiverlocality}}
            <br />- Receiver postal code: {{datagetship.receiverpostalcode}}
            <br />- Receiver country: {{datagetship.receivercountry}}
            <br />- Package length: {{datagetship.receiverlength}}
            <br />- Package width: {{datagetship.receiverwidth}}
            <br />- Package height: {{datagetship.receiverheight}}
            <br />- Package weight: {{datagetship.weight}} kg
       
    </ng-template>
<ng-template #hide>
    {{textgetshipment}}
</ng-template>
</form>
